<!-- Page Header Start -->
<div class="container-fluid page-header py-5">
    <div class="container text-center py-5">
        <h1 class="display-2 text-white mb-4 animated slideInDown">Contact Us</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                <li class="breadcrumb-item" aria-current="page">Contact</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->


 <!-- Contact Start -->
<div class="container-fluid py-5 mb-5">
    <div class="container">
        <div class="text-center mx-auto pb-5 wow fadeIn" data-wow-delay=".3s" style="max-width: 600px;">
            <h5 class="blue-color-text">Get In Touch</h5>
            <h1 class="mb-3">Contact for any query</h1>
            <!-- <p class="mb-2">Lorem ipsum dolor sit amet elit. Sed efficitur quis purus ut interdum aliquam dolor eget urna. Nam volutpat libero sit amet leo cursus, ac viverra eros morbi </p> -->
        </div>
        <div class="contact-detail position-relative p-5">
            <div class="row g-5 mb-5 justify-content-center">
                <div class="col-xl-4 col-lg-6 wow fadeIn" data-wow-delay=".3s">
                    <div class="d-flex bg-light p-3 rounded">
                        <div class="flex-shrink-0 btn-square blue-bg rounded-circle" style="width: 64px; height: 64px;">
                            <i class="fas fa-map-marker-alt text-white"></i>
                        </div>
                        <div class="ms-3">
                            <h4 class="blue-color-text">Address</h4>
                            <a href="https://maps.app.goo.gl/9hUKhP7HRSdGzfew6" target="_blank" class="h5">Appsimity Solutions LLP 248, Sector 37A, Chandigarh - 160036, Chandigarh, INDIA</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 wow fadeIn" data-wow-delay=".5s">
                    <div class="d-flex bg-light p-3 rounded">
                        <div class="flex-shrink-0 btn-square blue-bg rounded-circle" style="width: 64px; height: 64px;">
                            <i class="fa fa-phone text-white"></i>
                        </div>
                        <div class="ms-3">
                            <h4 class="blue-color-text">Call Us</h4>
                            <a class="h5" href="" target="_blank">0172 4002163</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 wow fadeIn" data-wow-delay=".7s">
                    <div class="d-flex bg-light p-3 rounded">
                        <div class="flex-shrink-0 btn-square blue-bg rounded-circle" style="width: 64px; height: 64px;">
                            <i class="fa fa-envelope text-white"></i>
                        </div>
                        <div class="ms-3">
                            <h4 class="blue-color-text">Email Us</h4>
                            <a class="h5" href="mailto:hr@appsimity.com" target="_blank">{{emailid2}}</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row g-5">
                <div class="col-lg-6 wow fadeIn" data-wow-delay=".3s">
                    <div class="p-3 h-100 rounded contact-map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3429.1050986337063!2d76.75232729999999!3d30.743549199999997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390fedebc05f219d%3A0x64a2acbd382b4ce4!2s248%2C%20Sector%2037A%2C%20Sector%2037%2C%20Chandigarh%2C%20160036!5e0!3m2!1sen!2sin!4v1731480806098!5m2!1sen!2sin" width="480" height="498" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay=".5s">
                    <form id="contactForm">
                        <div class="p-3 rounded contact-form">
                            <div class="mb-4">
                                <input type="text" id="userName" class="form-control border-0 py-3" placeholder="Your Name" required>
                            </div>
                            <div class="mb-4">
                                <input type="email" id="userEmail" class="form-control border-0 py-3" placeholder="Your Email" required>
                            </div>
                            <div class="mb-4">
                                <input type="text" id="userProject" class="form-control border-0 py-3" placeholder="Project" required>
                            </div>
                            <div class="mb-4">
                                <textarea id="userMessage" class="w-100 form-control border-0 py-3" rows="6" placeholder="Message" required></textarea>
                            </div>
                            <div class="text-start">
                                <button class="btn bg-primary text-white py-3 px-5" type="submit">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div> 
</div>
<!-- Contact End -->