<!-- Page Header Start -->
<div class="container-fluid page-header py-5">
    <div class="container text-center py-5">
        <h1 class="display-2 text-white mb-4 animated slideInDown">Technologies</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                <li class="breadcrumb-item" aria-current="page">Technologies</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->


<!-- Services Start -->
<div class="container-fluid services mb-5">
    <div class="container py-5">
        <div class="text-center mx-auto pb-3 wow fadeIn" data-wow-delay=".3s" style="max-width: 800px;">
            <!-- <h5 class="text-primary">Our Services</h5> -->
            <h1>Technologies</h1>

        </div>
        <div class="outer-pills text-center mx-auto pb-3">
            <ul class="nav nav-pills" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-bs-toggle="pill" href="#frontend-1">Front-End</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="pill" href="#backend-1">Back-End</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " data-bs-toggle="pill" href="#mobile-1">Mobile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="pill" href="#cloud-1">Cloud</a>
                </li>

            </ul>
        </div>
        <!-- Tab panes -->
        <div class="tab-content service-content">
            <div id="frontend-1" class="container tab-pane active"><br>
                <div class="row text-center mx-auto">
                    <h5>Front-End</h5>
                    <!-- <p>In Appsimity, we are leaders in creating top of the line mobile applications that cater advanced functionality, seamless user interactions, and pioneering solutions for all industries. Our team of experts envisage and create mobile apps with latest technologies, ensuring your business is ahead of the curve. <b>A look at the comprehensive mobile app development services we offer:</b></p> -->
                </div>
                <div class="row g-4 services-inner">
                    <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".3s">
                        <div class="services-item bg-light">
                            <div class="p-4 text-center services-content">
                                <div class="services-content-icon">

                                    <!-- <img src="img/icon-service/conferencing.png"> -->
                                    <i class="fab fa-react fa-7x mb-4 black-icon"></i>
                                    <h4 class="mb-3">React</h4>


                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".5s">
                        <div class="services-item bg-light">
                            <div class="p-4 text-center services-content">
                                <div class="services-content-icon">
                                    <!-- <img src="img/icon-service/geographical.png"> -->
                                    <i class="fab fa-angular fa-7x mb-4 black-icon"></i>
                                    <h4 class="mb-3">Angular</h4>


                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".7s">
                        <div class="services-item bg-light">
                            <div class="p-4 text-center services-content">
                                <div class="services-content-icon">
                                    <i class="fab fa-vuejs fa-7x mb-4 black-icon"></i>
                                    <h4 class="mb-3">Vue.js</h4>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".3s">
                        <div class="services-item bg-light">
                            <div class="p-4 text-center services-content">
                                <div class="services-content-icon">
                                    <i class="fab fab fa-js-square fa-7x mb-4 black-icon"></i>
                                    <h4 class="mb-3">JavaScript</h4>

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".5s">
                        <div class="services-item bg-light">
                            <div class="p-4 text-center services-content">
                                <div class="services-content-icon">
                                    <img src="assets/img/icon-service/ts.png" style="margin-bottom: 30px; width: 98px;">
                                    <!-- <i class="fab fa-angular fa-7x mb-4 black-icon"></i> -->
                                    <h4 class="mb-3">TypeScript</h4>


                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".7s">
                        <div class="services-item bg-light">
                            <div class="p-4 text-center services-content">
                                <div class="services-content-icon">
                                    <!-- <img src="img/icon-service/ts.png"> -->
                                    <i class="fab fa-bootstrap fa-7x mb-4 black-icon"></i>
                                    <h4 class="mb-3">Bootstrap</h4>


                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--row-->
            </div>
            <div id="backend-1" class="tab-pane fade"><br>
                <div class="row text-center mx-auto pb-4">
                    <h5>Back-End</h5>
                </div>
                <div class="row g-4 services-inner">
                    <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".1s">
                        <div class="services-item bg-light">
                            <div class="p-4 text-center services-content">
                                <div class="services-content-icon">
                                    <i class="fab fa-java fa-7x mb-4 black-icon"></i>
                                    <h4 class="mb-3">Java</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".5s">
                        <div class="services-item bg-light">
                            <div class="p-4 text-center services-content">
                                <div class="services-content-icon">
                                    <i class="fab fa-microsoft fa-7x mb-4 black-icon"></i>
                                    <h4 class="mb-3">Microsoft Technologies</h4>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".7s">
                        <div class="services-item bg-light">
                            <div class="p-4 text-center services-content">
                                <div class="services-content-icon">
                                    <i class="fab fa-python fa-7x mb-4 black-icon"></i>
                                    <h4 class="mb-3">Python </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".3s">
                        <div class="services-item bg-light">
                            <div class="p-4 text-center services-content">
                                <div class="services-content-icon">
                                    <i class="fab fa-php fa-7x mb-4 black-icon"></i>
                                    <h4 class="mb-3">PHP</h4>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".5s">
                        <div class="services-item bg-light">
                            <div class="p-4 text-center services-content">
                                <div class="services-content-icon">
                                    <!-- <i class="fab fa-rust fa-7x mb-4 text-primary"></i> -->
                                    <img src="assets/img/icon-service/rust.png" style="padding-bottom: 15px;">
                                    <h4 class="mb-3">Rust</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".7s">
                        <div class="services-item bg-light">
                            <div class="p-4 text-center services-content">
                                <div class="services-content-icon">
                                    <i class="fas fa-copyright fa-7x mb-4 black-icon"></i>
                                    <h4 class="mb-3">C/C++</h4>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".7s">
                        <div class="services-item bg-light">
                            <div class="p-4 text-center services-content">
                                <div class="services-content-icon">
                                    <i class="fab fa-node fa-7x mb-4 black-icon"></i>
                                    <h4 class="mb-3">Node.js</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".7s">
                        <div class="services-item bg-light">
                            <div class="p-4 text-center services-content">
                                <div class="services-content-icon">
                                    <i class="fas fa-gem fa-7x mb-4 black-icon"></i>
                                    <h4 class="mb-3">Ruby</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".7s">
                        <div class="services-item bg-light">
                            <div class="p-4 text-center services-content">
                                <div class="services-content-icon">
                                    <img src="assets/img/icon-service/go.png" width="128">
                                    <h4 class="mb-3">Golang</h4>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div id="mobile-1" class="tab-pane fade"><br>
                <div class="row text-center mx-auto pb-4">
                    <h5>Mobile</h5>
                </div>
                <div class="row g-4 services-inner">
                    <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".1s">
                        <div class="services-item bg-light">
                            <div class="p-4 text-center services-content">
                                <div class="services-content-icon">
                                    <i class="fab fa-apple fa-7x mb-4 black-icon"></i>
                                    <h4 class="mb-3">iOS</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".5s">
                        <div class="services-item bg-light">
                            <div class="p-4 text-center services-content">
                                <div class="services-content-icon">
                                    <i class="fab fa-android fa-7x mb-4 black-icon"></i>
                                    <h4 class="mb-3">Android</h4>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".7s">
                        <div class="services-item bg-light">
                            <div class="p-4 text-center services-content">
                                <div class="services-content-icon">
                                    <!-- <i class="fab fa-external-link-alt fa-7x mb-4 text-primary"></i> -->
                                    <img src="assets/img/icon-service/flutter.png" style="padding-bottom: 15px;">
                                    <h4 class="mb-3">Flutter </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".3s">
                        <div class="services-item bg-light">
                            <div class="p-4 text-center services-content">
                                <div class="services-content-icon">
                                    <i class="fab fa-react fa-7x mb-4 black-icon"></i>
                                    <h4 class="mb-3">React Native</h4>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".5s">
                        <div class="services-item bg-light">
                            <div class="p-4 text-center services-content">
                                <div class="services-content-icon">
                                    <!-- <i class="fa fa-envelope-open fa-7x mb-4 text-primary"></i> -->
                                    <img src="assets/img/icon-service/xamarin.png" style="padding-bottom: 15px;">
                                    <h4 class="mb-3">Xamarin </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".7s">
                        <div class="services-item bg-light">
                            <div class="p-4 text-center services-content">
                                <div class="services-content-icon">
                                    <!-- <i class="fas fa-laptop fa-7x mb-4 text-primary"></i> -->
                                    <img src="assets/img/icon-service/kony-1.png" style="padding-bottom: 15px;">
                                    <h4 class="mb-3">Kony </h4>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".7s">
                        <div class="services-item bg-light">
                            <div class="p-4 text-center services-content">
                                <div class="services-content-icon">
                                    <!-- <i class="fab fa-swift fa-7x mb-4 text-primary"></i> -->
                                    <img src="assets/img/icon-service/swift.png" style="padding-bottom: 15px;">
                                    <h4 class="mb-3">Swift</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".7s">
                        <div class="services-item bg-light">
                            <div class="p-4 text-center services-content">
                                <div class="services-content-icon">
                                    <!-- <i class="fas fa-laptop fa-7x mb-4 text-primary"></i> -->
                                    <img src="assets/img/icon-service/kotlin.png" style="padding-bottom: 15px;">
                                    <h4 class="mb-3">Kotlin</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".7s">
                        <div class="services-item bg-light">
                            <div class="p-4 text-center services-content">
                                <div class="services-content-icon">
                                    <!-- <i class="fas fa-laptop fa-7x mb-4 text-primary"></i> -->
                                    <img src="assets/img/icon-service/cordova.png" style="padding-bottom: 15px;">
                                    <h4 class="mb-3">Cordova</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="cloud-1" class="tab-pane fade"><br>
                <div class="row text-center mx-auto pb-4">
                    <h5>Cloud</h5>
                </div>
                <div class="row g-4 services-inner">
                    <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".1s">
                        <div class="services-item bg-light">
                            <div class="p-4 text-center services-content">
                                <div class="services-content-icon">
                                    <i class="fab fa-aws fa-7x mb-4 black-icon"></i>
                                    <h4 class="mb-3">AWS</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".5s">
                        <div class="services-item bg-light">
                            <div class="p-4 text-center services-content">
                                <div class="services-content-icon">
                                    <img src="assets/img/icon-service/azure.png" style="padding-bottom: 15px;">
                                    <h4 class="mb-3">Azure</h4>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".7s">
                        <div class="services-item bg-light">
                            <div class="p-4 text-center services-content">
                                <div class="services-content-icon">
                                    <!-- <i class="fa fa-external-link-alt fa-7x mb-4 text-primary"></i> -->
                                    <img src="assets/img/icon-service/gcp.png" style="padding-bottom: 15px;">
                                    <h4 class="mb-3">GCP </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".3s">
                        <div class="services-item bg-light">
                            <div class="p-4 text-center services-content">
                                <div class="services-content-icon">
                                    <!-- <i class="fas fa-user-secret fa-7x mb-4 text-primary"></i> -->
                                    <img src="assets/img/icon-service/sharepoint.png" style="padding-bottom: 15px;">
                                    <h4 class="mb-3">Sharepoint</h4>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".5s">
                        <div class="services-item bg-light">
                            <div class="p-4 text-center services-content">
                                <div class="services-content-icon">
                                    <!-- <i class="fas fa-user-secret fa-7x mb-4 text-primary"></i> -->
                                    <img src="assets/img/icon-service/cloudlinux.png" style="padding-bottom: 15px;">
                                    <h4 class="mb-3">CloudLinux</h4>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".3s">
                        <div class="services-item bg-light">
                            <div class="p-4 text-center services-content">
                                <div class="services-content-icon">
                                    <i class="fab fa-redhat fa-7x mb-4 black-icon"></i>
                                    <!-- <img src="img/icon-service/sharepoint.png" style="padding-bottom: 15px;"> -->
                                    <h4 class="mb-3">IBM Redhat</h4>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div> <!-- end Tab panes -->
    </div>





</div>
<!-- Services End -->