<!-- Footer Start -->
<div class="container-fluid footer bg-dark wow fadeIn" data-wow-delay=".3s">
    <div class="container pt-5 pb-4">
        <div class="row g-5">
            <div class="col-lg-4 col-md-6">
                <a href="#" class="h3 blue-color-text">Appsimity Motto  </a>
                <!-- <a href="index.html">
                    <div class="logo-me"><img src="img/appsimity-logo.png"></div>
                </a> -->
                <p class="mt-4 text-light">Specializing in IT solutions, Our experienced team possesses the expertise required to manage end-to-end mobile app development projects, deliver tasks efficiently, and maximize the benefits of outsourcing.</p>
               
            </div>
            <div class="col-lg-4 col-md-6">
                <a href="#" class="h3 blue-color-text">Company </a>
                <div class="mt-4 d-flex flex-column short-link">
                    <a routerLink="/about-page" class="mb-2 text-white"><i class="fas fa-angle-right blue-color-text me-2"></i>About Us </a>
                    <a routerLink="/techno-page" class="mb-2 text-white"><i class="fas fa-angle-right blue-color-text me-2"></i>Technologies </a>
                    <a href="career.html" class="mb-2 text-white"><i class="fas fa-angle-right blue-color-text me-2"></i>Careers </a>
                    <a href="contact.html" class="mb-2 text-white"><i class="fas fa-angle-right blue-color-text me-2"></i>Contact Us</a>
                    
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <a href="#" class="h3 blue-color-text">Connect with us</a>
                <div class="mt-4 d-flex flex-column help-link">
                    <!-- <a href="" class="mb-2 text-white"><i class="fab fa-facebook-f text-primary-one"></i>Facebook </a> -->
                    <a href="https://in.linkedin.com/company/appsimity-solutions-llp" target="_blank" class="mb-2 text-white"><i class="fab fa-linkedin-in text-primary-one"></i>Linkedin </a>
                    
                </div>
            </div>
            
        </div>
        <hr class="text-light mt-5 mb-4">
        <div class="row">
            <div class="col-md-6 text-center text-md-start">
                <span class="text-light"><a href="#" class="blue-color-text"> <i class="fas fa-copyright blue-color-text me-2"> 2024</i></a>| All right reserved.</span>
            </div>
            <div class="col-md-6 text-center text-md-end">
                
                <span class="text-light">Designed By<a routerLink="/" class="blue-color-text">    Appsimity Solutions</a></span>
            </div>
        </div>
    </div>
</div>

