<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand"><img src="appsimity-logo.png" class="pic1" alt="Logo"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active fcol1" routerLink = "/about-page">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink = "/service-page">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink = "/techno-page">Technologies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink = "/hire-page">Hire Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink = "/career-page">Careers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink = "/contact-data">Contact Us</a>
        </li>
      </ul>
      
    </div>
  </div>
</nav>

<div>
<table>
  <tr>
    <td style="color: blue;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam distinctio fugiat numquam facilis modi perferendis natus porro corporis beatae amet nam corrupti sunt architecto placeat, dicta animi nemo cum eius.</td>
  </tr>
</table>
</div>


<router-outlet></router-outlet>