<!-- Page Header Start -->
<div class="container-fluid page-header py-5">
    <div class="container text-center py-5">
        <h1 class="display-2 text-white mb-4 animated slideInDown">About Us</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item" aria-current="page">About</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->


<!-- About Start -->
<div class="container-fluid mb-5">
    <div class="container py-5">
         <div class="text-center mx-auto pb-5 wow fadeIn" data-wow-delay=".3s" style="max-width:600px">
            <h5 class="text-primary">About Us</h5>
            <h1>About Appsimity And It's Innovative IT Solutions</h1>
        </div>

      <div class="row g-5">

             <div class="col-lg-7 col-md-6 col-sm-12 wow fadeIn" data-wow-delay=".5s">
               
                <p>At Appsimity, we bridge and support businesses worldwide by helping them reduce software development costs while ensuring high-quality outcomes and reduce the gap in expertise and technology by providing skilled teams of IT professionals to handle software application development projects of all complexities.</p>
                <p class="mb-4">We assist clients in planning and executing digital transformation strategies, covering every stage of the process. With Appsimity, you gain a trusted partner dedicated to driving digital success and optimizing your business through tailored mobile application solutions.</p>
                <p class="mb-4">
                    Specializing in IT solutions, Our experienced team possesses the expertise required to manage end-to-end mobile app development projects, deliver tasks efficiently, and maximize the benefits of outsourcing.

                </p>
                <!-- <a href="" class="btn btn-secondary rounded-pill px-5 py-3 text-white">More Details</a> -->
            </div>

            <div class="col-lg-5 col-md-6 col-sm-12 wow fadeIn" data-wow-delay=".3s">
                <div class="h-100 position-relative">
                    <img src="assets/img/1.png" class="img-fluid rounded" alt="" style="margin-top:0%">
                   <!--  <div class="position-absolute w-75" style="top: 25%; left: 25%;">
                        <img src="img/about-2.jpg" class="img-fluid w-100 rounded" alt="">
                    </div> -->
                </div>
            </div>
           
        </div>
    </div>
</div>
<!-- About End -->



<!-- Testimonial Start -->


<div class="container-fluid testimonial  mb-5">
    <div class="container">
        <div class="text-center mx-auto pb-5 wow fadeIn" data-wow-delay=".3s" style="max-width: 600px;">
            <h5 class="blue-color-text">We love innovation</h5>
            <h1>Why Choose Appsimity Solution?</h1>
        </div>
        <div class="owl-carousel testimonial-carousel wow fadeIn" data-wow-delay=".5s">
            <div class="testimonial-item border p-4">
                <div class="d-flex align-items-center">
                    <div class="ms-4">
                        <h4 class="blue-color-text">Creative and Innovative Solutions </h4>
                        
                    </div>
                </div>
                <div class="border-top mt-4 pt-3">
                    <p class="mb-0">We believe in thinking outside the box. The Team comes up with a brand-new vision and creative solution to every new study of the requirement. Techforce is a team of Raw talent and our experts are very much creative when it comes to designing an innovative solution</p>
                </div>
            </div>
            <div class="testimonial-item border p-4">
                <div class=" d-flex align-items-center">
                   
                    <div class="ms-4">
                        <h4 class="blue-color-text">Research and Analysis </h4>
                      
                    </div>
                </div>
                <div class="border-top mt-4 pt-3">
                    <p class="mb-0">We believe in getting to the bottom of any requirement and for an effective strategy and cost reduction. A thorough study and analysis are conducted by our experts. The moment we receive any requirements, our Tech experts plan up the detailed research and study, and based on the result, the team will provide the best solutions</p>
                </div>
            </div>
            <div class="testimonial-item border p-4">
                <div class=" d-flex align-items-center">
                  
                    <div class="ms-4">
                        <h4 class="blue-color-text">Strategic Consultation</h4>
                    </div>
                </div>
                <div class="border-top mt-4 pt-3">
                    <p class="mb-0">Our tech experts provide the strategic consultation based on the requirement and will Define, Plan, Design, and Execute IT strategies that drive business growth. We develop innovative strategies and solutions to help you make the most of your technology investments to drive competitive advantage</p>
                </div>
            </div>
            <div class="testimonial-item border p-4">
                <div class=" d-flex align-items-center">
                    
                    <div class="ms-4">
                        <h4 class="blue-color-text">Cost-Effective Delivery </h4>
                        
                    </div>
                </div>
                <div class="border-top mt-4 pt-3">
                    <p class="mb-0">Team Appsimity provides a detailed studied solution that is cost-effective in a way where the client can rely on us for further endeavors. As an expert in all industries, we evaluate based on the standard industry price and provide a full-fledged pricing model</p>
                </div>
            </div>
            <div class="testimonial-item border p-4">
                <div class=" d-flex align-items-center">
                    
                    <div class="ms-4">
                        <h4 class="blue-color-text"> Effective Collaboration </h4>
                        
                    </div>
                </div>
                <div class="border-top mt-4 pt-3">
                    <p class="mb-0">As we all know Communication is the key, our team stays in touch with clients on all the platforms and mediums that allow effectiveness, transparency, and accuracy</p>
                </div>
            </div>
            <div class="testimonial-item border p-4">
                <div class=" d-flex align-items-center">
                    
                    <div class="ms-4">
                        <h4 class="blue-color-text">Quality Delivered in Time  </h4>
                        
                    </div>
                </div>
                <div class="border-top mt-4 pt-3">
                    <p class="mb-0">We've learned over the years how to avoid failure and replicate success. We define it and ensure that it is delivered on schedule. Team Techforce defines a Timeline of the project which will fit the client’s need and our Delivery will be Quality improvised</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Testimonial End -->