<!-- Carousel Start -->
<div class="container-fluid px-0">
    <div id="carouselId" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#carouselId" data-bs-slide-to="0" class="active" aria-current="true" aria-label="First slide"></li>
            <li data-bs-target="#carouselId" data-bs-slide-to="1" aria-label="Second slide"></li>
            <li data-bs-target="#carouselId" data-bs-slide-to="2" aria-label="Third slide"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <img src="assets/img/carousel-1.jpg" class="img-fluid" alt="First slide">
                <div class="carousel-caption">
                    <div class="container carousel-content">
                        <h6 class="blue-color-text h4 animated fadeInUp">Best IT Solutions</h6>
                        <h1 class="text-white display-1 mb-4 animated fadeInRight">Innovative Digital Solutions Provider</h1>
                        <!--p class="mb-4 text-white fs-5 animated fadeInDown">Lorem ipsum dolor sit amet elit. Sed efficitur quis purus ut interdum. Pellentesque aliquam dolor eget urna ultricies tincidunt.</p>
                        <a href="" class="me-2"><button type="button" class="px-4 py-sm-3 px-sm-5 btn btn-primary rounded-pill carousel-content-btn1 animated fadeInLeft">Read More</button></a>
                        <a href="" class="ms-2"><button type="button" class="px-4 py-sm-3 px-sm-5 btn btn-primary rounded-pill carousel-content-btn2 animated fadeInRight">Contact Us</button></a-->
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="assets/img/carousel-2.jpg" class="img-fluid" alt="Second slide">
                <div class="carousel-caption">
                    <div class="container carousel-content">
                        <h6 class="blue-color-text h4 animated fadeInUp">Together </h6>
                        <h1 class="text-white display-1 mb-4 animated fadeInLeft">Transforming Businesses with Technology</h1>
                        <!--p class="mb-4 text-white fs-5 animated fadeInDown">Lorem ipsum dolor sit amet elit. Sed efficitur quis purus ut interdum. Pellentesque aliquam dolor eget urna ultricies tincidunt.</p>
                        <a href="" class="me-2"><button type="button" class="px-4 py-sm-3 px-sm-5 btn btn-primary rounded-pill carousel-content-btn1 animated fadeInLeft">Read More</button></a>
                        <a href="" class="ms-2"><button type="button" class="px-4 py-sm-3 px-sm-5 btn btn-primary rounded-pill carousel-content-btn2 animated fadeInRight">Contact Us</button></a-->
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="assets/img/carousel-3.jpg" class="img-fluid" alt="Third slide">
                <div class="carousel-caption">
                    <div class="container carousel-content">
                        <h6 class="blue-color-text h4 animated fadeInUp">Digital Partner</h6>
                        <h1 class="text-white display-1 mb-4 animated fadeInLeft">Move today to cutting edge digital and AI solutions</h1>
                        <!--p class="mb-4 text-white fs-5 animated fadeInDown">Lorem ipsum dolor sit amet elit. Sed efficitur quis purus ut interdum. Pellentesque aliquam dolor eget urna ultricies tincidunt.</p>
                        <a href="" class="me-2"><button type="button" class="px-4 py-sm-3 px-sm-5 btn btn-primary rounded-pill carousel-content-btn1 animated fadeInLeft">Read More</button></a>
                        <a href="" class="ms-2"><button type="button" class="px-4 py-sm-3 px-sm-5 btn btn-primary rounded-pill carousel-content-btn2 animated fadeInRight">Contact Us</button></a-->
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselId" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselId" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<!-- Carousel End -->




 <!-- About Start -->
 <div class="container-fluid py-5 mb-5">
    <div class="container pt-5">
        <div class="row g-5">
            <div class="col-lg-5 col-md-6 col-sm-12 wow fadeIn" data-wow-delay=".3s">
                <div class="h-100 position-relative">
                    <img src="assets/img/about-1.jpg" class="img-fluid w-75 rounded" alt="" style="margin-bottom: 25%;">
                    <div class="position-absolute w-75" style="top: 25%; left: 25%;">
                        <img src="assets/img/about-2.jpg" class="img-fluid w-100 rounded" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-6 col-sm-12 wow fadeIn" data-wow-delay=".5s">
                <h5 class="blue-color-text">About Us</h5>
                <h1 class="mb-4">About Appsimity And It's Innovative IT Solutions</h1>
                <p>At Appsimity, we bridge and support businesses worldwide by helping them reduce software development costs while ensuring high-quality outcomes and reduce the gap in expertise and technology by providing skilled teams of IT professionals to handle software application development projects of all complexities.</p>
                
                <a href="about.html" class="btn blue-bg rounded-pill px-5 py-3 text-white">More Details</a>
            </div>
        </div>
    </div>
</div>
<!-- About End -->



<!-- Services Start -->
<div class="container-fluid services py-5 mb-5">
    <div class="container">
        <div class="text-center mx-auto pb-5 wow fadeIn" data-wow-delay=".3s" style="max-width: 600px;">
            <h5 class="blue-color-text">Our Services</h5>
            <h1>Services Built Specifically For Your Business</h1>
        </div>
        <div class="row g-5 services-inner">
            <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".3s">
                <div class="services-item bg-light">
                    <div class="p-4 text-center services-content">
                        <div class="services-content-icon">
                            <i class="fa fa-mobile fa-4x mb-4 blue-color-text"></i>
                            <h4 class="mb-3">Mobile Application</h4>
                            <p class="mb-4">As your quality focused mobility solutions provider, we devise sound strategies to give your business the true mobile advantage.</p>
                            <a href="service.html" class="btn blue-bg text-white px-5 py-3 rounded-pill">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".5s">
                <div class="services-item bg-light">
                    <div class="p-4 text-center services-content">
                        <div class="services-content-icon">
                            <i class="fa fa-laptop fa-4x mb-4 blue-color-text"></i>
                            <h4 class="mb-3">Web Application</h4>
                            <p class="mb-4">We take you to the journey where your devices seamlessly interact with each other to gather, store and transfer data over a network with sensors and cloud solutions.</p>
                            <a href="service.html" class="btn blue-bg text-white px-5 py-3 rounded-pill">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".7s">
                <div class="services-item bg-light">
                    <div class="p-4 text-center services-content">
                        <div class="services-content-icon">
                            <i class="fa fa-lightbulb fa-4x mb-4 blue-color-text"></i>
                            <h4 class="mb-3">IOT Solutions</h4>
                            <p class="mb-4">We at Appsimity aim to improve client productivity, proficiency and profits with system integration services by using a pragmatic approach.</p>
                            <a href="service.html" class="btn blue-bg text-white px-5 py-3 rounded-pill">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".3s">
                <div class="services-item bg-light">
                    <div class="p-4 text-center services-content">
                        <div class="services-content-icon">
                            <i class="fa fa-cloud fa-4x mb-4 blue-color-text"></i>
                            <h4 class="mb-3">Cloud Computing</h4>
                            <p class="mb-4">With Appsimity Solutions, you get access to an extensive range of SAP services you need to run your entire business.</p>
                            <a href="service.html" class="btn blue-bg text-white px-5 py-3 rounded-pill">Read More</a>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".5s">
                <div class="services-item bg-light">
                    <div class="p-4 text-center services-content">
                        <div class="services-content-icon">
                            <i class="fa fa-server fa-4x mb-4 blue-color-text"></i>
                            <h4 class="mb-3">DevOps Solutions</h4>
                            <p class="mb-4">Our well-proficient developers can expertly put together mobile commerce solutions while taking in consideration that every company is unique with its own particular needs.</p>
                            <a href="service.html" class="btn blue-bg text-white px-5 py-3 rounded-pill">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".7s">
                <div class="services-item bg-light">
                    <div class="p-4 text-center services-content">
                        <div class="services-content-icon">
                            <i class="fa fa-database fa-4x mb-4 blue-color-text"></i>
                            <h4 class="mb-3">Technology Migration</h4>
                            <p class="mb-4">Our experience shows the power of strategy engagement solutions. We function right at the intersection of business and technology to help enterprises define and devise the IT strategies for future generation.</p>
                            <a href="service.html" class="btn blue-bg text-white px-5 py-3 rounded-pill">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
             <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".3s">
                <div class="services-item bg-light">
                    <div class="p-4 text-center services-content">
                        <div class="services-content-icon">
                            <i class="fa fa-chevron-circle-up fa-4x mb-4 blue-color-text"></i>
                            <h4 class="mb-3">Turnkey System Upgrades</h4>
                            <p class="mb-4">Our turnkey system upgrade services provide applications  is equipped with best practices, which results in improved performance and ad-hoc solutions.  We manage the whole SDLC with focus on what matters most—delivering results.</p>
                            <a href="service.html" class="btn blue-bg text-white px-5 py-3 rounded-pill">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
             <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".5s">
                <div class="services-item bg-light">
                    <div class="p-4 text-center services-content">
                        <div class="services-content-icon">
                            <i class="fa fa-universal-access fa-4x mb-4 blue-color-text"></i>
                            <h4 class="mb-3">AI and ML Solutions</h4>
                            <p class="mb-4">Our AI and ML team will  enable you to extract insights from unsorted datasets and provide customer insights, optimize your customer retention, and drive your sales.</p>
                            <a href="service.html" class="btn blue-bg text-white px-5 py-3 rounded-pill">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".7s">
                <div class="services-item bg-light">
                    <div class="p-4 text-center services-content">
                        <div class="services-content-icon">
                            <i class="fas fa-comments-dollar fa-4x mb-4 blue-color-text"></i>
                            <h4 class="mb-3">Digital Marketing</h4>
                            <p class="mb-4">Our solutions are customized  to each client's unique needs, using the best in class tools and technologies to create meaningful digital marketing campaigns.</p>
                            <a href="service.html" class="btn blue-bg text-white px-5 py-3 rounded-pill">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".3s">
                <div class="services-item bg-light">
                    <div class="p-4 text-center services-content">
                        <div class="services-content-icon">
                            <i class="fas fa-microchip fa-4x mb-4 blue-color-text"></i>
                            <h4 class="mb-3">Technology Partner</h4>
                            <p class="mb-4">A comprehensive approach to your IT requirements makes Appsimity clients receive well-rounded solutions tailored to their specific goals, whether that's increasing brand awareness, driving traffic, or boosting sales.</p>
                            <a href="service.html" class="btn blue-bg text-white px-5 py-3 rounded-pill">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
             <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".5s">
                <div class="services-item bg-light">
                    <div class="p-4 text-center services-content">
                        <div class="services-content-icon">
                            <i class="fas fa-users-cog fa-4x mb-4 blue-color-text"></i>
                            <h4 class="mb-3">Outsourcing Services</h4>
                            <p class="mb-4">With a focus on flexibility, innovation, and customer satisfaction, we empower you to operate more freely and focus on what you do best. Whether you're looking to enhance operational efficiency, scale your team, or reduce costs, we provide the expert team which outsourcing solutions you need.</p>
                            <a href="service.html" class="btn blue-bg text-white px-5 py-3 rounded-pill">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Services End -->



 <!-- Slider Start -->

 <div class="client-testimonial">
    <div class="container-fluid pt-5">
        <div class="container">
            <div class="text-center mx-auto pb-5 wow fadeIn" data-wow-delay=".3s">
                <h3 class="blue-color-text">Our Clients</h3>
            </div>
            <div class="wow fadeIn" data-wow-delay=".5s">
                <section class="customer-logos slider">
                    <div class="slide"><img src="assets/img/slider-logos/applied.jpg"></div>
                    <div class="slide"><img src="assets/img/slider-logos/etelli.png"></div>
                    <div class="slide"><img src="assets/img/slider-logos/bridged.png"></div>
                    <div class="slide"><img src="assets/img/slider-logos/exc.png"></div>
                    <div class="slide"><img src="assets/img/slider-logos/luggage-teleport.png"></div>
                    <div class="slide"><img src="assets/img/slider-logos/ltim.jpg"></div>
                    <div class="slide"><img src="assets/img/slider-logos/dc.png"></div>
                    <div class="slide"><img src="assets/img/slider-logos/netable.png"></div>
                    <div class="slide"><img src="assets/img/slider-logos/npl.png"></div>
                    <div class="slide"><img src="assets/img/slider-logos/onekliq.png"></div>
                    <div class="slide"><img src="assets/img/slider-logos/pumpkart.png"></div>
                    <div class="slide"><img src="assets/img/slider-logos/reliance.jpg"></div>
                    <div class="slide"><img src="assets/img/slider-logos/sc.png"></div>
                    <div class="slide"><img src="assets/img/slider-logos/tc.png"></div>
                    <div class="slide"><img src="assets/img/slider-logos/wgf.png"></div>
                    <div class="slide"><img src="assets/img/slider-logos/xplore.png"></div>
                </section>
            </div>
        </div>
    </div>
</div>

<!-- Slider End -->




<!-- Contact Start -->
<div class="container-fluid py-5 mb-5">
    <div class="container">
        <div class="text-center mx-auto pb-5 wow fadeIn" data-wow-delay=".3s" style="max-width: 600px;">
            <h5 class="blue-color-text">Get In Touch</h5>
            <h1 class="mb-3">Contact for any query</h1>
            <!-- <p class="mb-2">Lorem ipsum dolor sit amet elit. Sed efficitur quis purus ut interdum aliquam dolor eget urna. Nam volutpat libero sit amet leo cursus, ac viverra eros morbi </p> -->
        </div>
        <div class="contact-detail position-relative p-5">
            <div class="row g-5 mb-5 justify-content-center">
                <div class="col-xl-4 col-lg-6 wow fadeIn" data-wow-delay=".3s">
                    <div class="d-flex bg-light p-3 rounded">
                        <div class="flex-shrink-0 btn-square blue-bg rounded-circle" style="width: 64px; height: 64px;">
                            <i class="fas fa-map-marker-alt text-white"></i>
                        </div>
                        <div class="ms-3">
                            <h4 class="blue-color-text">Address</h4>
                            <a href="https://maps.app.goo.gl/9hUKhP7HRSdGzfew6" target="_blank" class="h5">Appsimity Solutions LLP 248, Sector 37A, Chandigarh - 160036, Chandigarh, INDIA</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 wow fadeIn" data-wow-delay=".5s">
                    <div class="d-flex bg-light p-3 rounded">
                        <div class="flex-shrink-0 btn-square blue-bg rounded-circle" style="width: 64px; height: 64px;">
                            <i class="fa fa-phone text-white"></i>
                        </div>
                        <div class="ms-3">
                            <h4 class="blue-color-text">Call Us</h4>
                            <a class="h5" href="" target="_blank">0172 4002163</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 wow fadeIn" data-wow-delay=".7s">
                    <div class="d-flex bg-light p-3 rounded">
                        <div class="flex-shrink-0 btn-square blue-bg rounded-circle" style="width: 64px; height: 64px;">
                            <i class="fa fa-envelope text-white"></i>
                        </div>
                        <div class="ms-3">
                            <h4 class="blue-color-text">Email Us</h4>
                            <a class="h5" href="mailto:hr@appsimity.com" target="_blank">{{emailad}}</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row g-5">
                <div class="col-lg-6 wow fadeIn" data-wow-delay=".3s">
                    <div class="p-3 h-100 rounded contact-map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3429.1050986337063!2d76.75232729999999!3d30.743549199999997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390fedebc05f219d%3A0x64a2acbd382b4ce4!2s248%2C%20Sector%2037A%2C%20Sector%2037%2C%20Chandigarh%2C%20160036!5e0!3m2!1sen!2sin!4v1731480806098!5m2!1sen!2sin" width="480" height="498" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay=".5s">
                    <form id="contactForm">
                        <div class="p-3 rounded contact-form">
                            <div class="mb-4">
                                <input type="text" id="userName" class="form-control border-0 py-3" placeholder="Your Name" required>
                            </div>
                            <div class="mb-4">
                                <input type="email" id="userEmail" class="form-control border-0 py-3" placeholder="Your Email" required>
                            </div>
                            <div class="mb-4">
                                <input type="text" id="userProject" class="form-control border-0 py-3" placeholder="Project" required>
                            </div>
                            <div class="mb-4">
                                <textarea id="userMessage" class="w-100 form-control border-0 py-3" rows="6" placeholder="Message" required></textarea>
                            </div>
                            <div class="text-start">
                                <button class="btn bg-primary text-white py-3 px-5" type="submit">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div> 
</div>
<!-- Contact End -->