  <header class="app-header">
    <nav>
      <ul>
      <li><a routerLink="/" routerLinkActive="active"></a></li>
      <li><a routerLink="/about-page" routerLinkActive="active">About Us</a></li>
      <li><a routerLink="/service-page" routerLinkActive="active">Services</a></li>
      <li><a routerLink="/techno-page" routerLinkActive="active">Technologies</a></li>
      <li><a routerLink="/hire-page" routerLinkActive="active">Hire Team</a></li>
      <li><a routerLink="/career-page" routerLinkActive="active">career-page</a></li>
      <li><a routerLink="/contact-data" routerLinkActive="active">Contact Us</a></li>   
      </ul>
    </nav>
  </header>
