<!-- Page Header Start -->
<div class="container-fluid page-header py-5">
    <div class="container text-center py-5">
        <h1 class="display-2 text-white mb-4 animated slideInDown">Careers</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                <li class="breadcrumb-item" aria-current="page">Careers</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header Endddd -->


 <!-- Contact Start -->
<div class="container-fluid py-5 mb-5">
    <div class="container">
        <div class="text-center mx-auto pb-5 wow fadeIn" data-wow-delay=".3s" style="max-width: 600px;">
            <h5 class="blue-color-text">Join Our Team At Appsimity</h5>
            <h1 class="mb-3">Careers</h1>
            <p class="mb-2">At Appsimity, we want  to transform software development with awesome and in-market services. Our story begins with the right people—passionate, curious, and ready to take on new ideas. If you're looking for a cool place to learn and have fun with passionate people, Appsimity is the place for you.</p>
            <p class="mb-2 ">Kindly fill the form below or mail your CV to {{hremailid}}</p>
        </div>
        <div class="contact-detail position-relative p-5">
            <div class="row g-5 mb-5 justify-content-center">
            </div>
            <div class="row g-5">
                <div class="col-lg-12 wow fadeIn" data-wow-delay=".5s">
                    <form id="careerForm">
                        <div class="p-3 rounded contact-form">
                            <div class="mb-4">
                                <input type="text" id="userName" class="form-control border-0 py-3" placeholder="Full Name" required>
                            </div>
                            <div class="mb-4">
                                <input type="email" id="userEmail" class="form-control border-0 py-3" placeholder="Email" required>
                            </div>
                            <div class="mb-4">
                                <input type="text" id="userTitle" class="form-control border-0 py-3" placeholder="Current/Previous Job Title" required>
                            </div>
                            <div class="mb-4">
                                <input type="number" id="userExp" class="form-control border-0 py-3" placeholder="Years of Experience" required>
                            </div>
                            <div class="mb-4">
                                <input type="tel" id="userNum" class="form-control border-0 py-3" placeholder="Phone Number" required>
                            </div>
                            <div class="mb-4">
                                <input type="url" id="userLink" class="form-control border-0 py-3" placeholder="LinkedIn Account" required>
                            </div>
                            <div class="mb-4">
                                <textarea id="userMessage" class="w-100 form-control border-0 py-3" rows="6" placeholder="Message" required></textarea>
                            </div>
                            <div class="text-start">
                                <button class="btn bg-primary text-white py-3 px-5" type="submit">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div> 
</div>
<!-- Contact End -->